.editor {
  top: 0;
  left: 0;
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.container {
  position: absolute;
  inset: 56px 0 0;
  display: flex;
  flex-direction: row;
  pointer-events: auto;

  .leftSlider {
    position: relative;
    width: 0;
    height: 100%;
    background: #262626;
    border-right: 2px solid #141414;
    backdrop-filter: blur(12px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
  }

  .centerContent {
    position: relative;
    flex: 1;
    height: 100%;
  }

  .rightSlider {
    position: relative;
    width: 256px;
    height: 100%;
    background: #262626;
    border-left: 2px solid #141414;
    backdrop-filter: blur(12px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
  }
}

.editWrap {
  position: absolute;
  inset: 0;
  font-size: 0;
  user-select: none;
  pointer-events: auto;

  img {
    display: none;
  }

  canvas {
    position: absolute;
    inset: 0;
    cursor: crosshair;
  }

  .rowLine {
    position: fixed;
    background-color: #fff;
    height: 1px;
  }

  .columnLine {
    position: fixed;
    background-color: #fff;
    width: 1px;
  }
}
