.container {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: #212121;
  border-radius: 10px;
  padding: 0.5rem;
  height: 50px;
  pointer-events: auto;
  font-weight: 600;

  .btn {
    width: 32px;
    height: 32px;
    margin: 0 0.25rem;
    border: 0;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;

    svg {
      scale: 1.2;
    }
  }

  .btn:hover {
    color: #fff;
  }

  .btnLimited:hover {
    background-color: @colorPrimary;
    transform: scale(1.2);
  }

  .btnActive {
    background-color: @colorPrimary;
  }

  .divider {
    height: 100%;
    margin: 10px 8px;
    border-left: 1px solid #fff;
  }

  .slider {
    width: 100px;
    margin: 0 0.25rem;

    :global {
      .ant-slider-rail {
        background-color: #37404a;
      }
    }
  }

  .action {
    height: 32px;
    margin: 0 0.25rem;
    border: 0;
    // background-color: transparent;
    color: #fff;
    border-radius: 5px;
  }
}

.popover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .title {
    font-weight: 500;
    font-size: 14px;
  }

  .key {
    justify-content: center;
    border-radius: 2px;
    margin-left: 10px;
    padding: 2px 5px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: 500;
  }

  .divider {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
